* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
 font-family: 'Vogamedium';
 src: url('../Fonts/Voga-Medium.otf');
 font-weight: normal;
 font-style: normal;
 grid-template-columns: 50% 50%;
}

/* START HEADER STYLES */
header {
 padding: 20px 35px;
 display: flex;
 justify-content: space-between;
 flex-wrap: wrap;
 position: -webkit-sticky;
 position: sticky;
 top: 0;
 background-color: grey;
 background-image: url("../Images/20998787.jpg");
 background-size: cover;
 background-attachment: fixed;
 background-position: 80%;
 background-position-y: -10%;
 z-index: 9999;
}

header nav {
 margin: 7px 0;
}

header h1 {
 font-weight: normal;
 font-size: 7vw;
 color: white;
 margin: 0;
 text-shadow: 0 0 20px black;
 margin-left: 5%;
 border-top: 1px solid black;
 border-bottom: 1px solid black;
 padding-top: 8px;
}

header h1 a {
 text-decoration: none;
}

header h1 a:visited {
 text-decoration: none; color: white; 
}

header nav ul {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
 align-items: center;
 list-style: none;
}

header nav ul li a {
 padding: 10px 15px;
 font-weight: lighter;
 font-size: 2.5vw;
 color: white;
 list-style: none;
 text-shadow: 0 0 20px black;
 text-decoration: none;
 border-top: 1px solid black;
 border-bottom: 1px solid black;;
}

header nav ul li a:visited {
 text-decoration: none; color: white
}

header nav ul li a:hover {
 background-color: grey;
}
/* END HEADER STYLES */

/* START FOOTER STYLES */
footer {
 padding: 40px 35px;
 background: grey;
 display: flex;
 justify-content: space-between;
 flex-wrap: wrap;
 width: 100%;
}

footer h4 {
 color: black;
 font-size: 30px;
 margin: 0;
}
/* END FOOTER STYLES */


/* BACKGROUND STYLES START */
section {
 background-image: url('../Images/20998787.jpg');
 background-size: cover;
 display: flex;
 justify-content: center;
 background-attachment: fixed;
 background-position: 80%;
 background-position-y: -10%;
}
/* BACKGROUND STYLES END */


/* START MY WORKS STYLES */
.about {
 display: flex;
 flex-wrap: wrap;
 max-width: 100%;
 padding-top: 50%;
}

.title {
border-top: 3px solid black;
border-bottom: 3px solid black;
padding: 1% 0 1% 0;
width: 100%;
background-color: white;
justify-content: center;
text-align: center;
}

.bio {
 display: flex;
 flex-wrap: wrap;
 margin: 0 auto;
 justify-content: space-between;
 flex-direction: row;
 width: 100%
}
.bio img {
 max-width: 50%;
 max-height: 60%;
 border: 2px solid black;
 border-radius: 50px;
 margin: auto;
 box-shadow: 0 0 30px black;
 
}

.bio p {
 background-color: white;
 max-width: 50%;
 margin: auto;
 padding: 1vw;
 border: 2px solid black;
 box-shadow: 0 0 30px;
 border-radius: 15px;
 line-height: 1.5;
}

/* START MY WORKS STYLES */

.my-work {
 display: flex;
 flex-wrap: wrap;
 margin: 0 auto;
}

.work h2 {
 color: black;
 margin: 5px;
 border: none;
 font-size: auto;
 background-color: white;
 height: 10%;
 padding: 0;
}

.work img {
 width: 
 height: 
 border-radius: 20px;
 border: 3px solid black;
 margin: 5px 10px 50px;
}

.contact {
 display: flex;
}
.contact img {
 width: 20%;
 height: 20%;
}

.contact h3 {
 width: 100%;
}