* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
 font-family: Arial, Helvetica, sans-serif;
}

/* START HEADER STYLES */
header {
 padding: 20px 35px;
 display: flex;
 justify-content: space-between;
 flex-wrap: wrap;
 position: -webkit-sticky;
 position: sticky;
 top: 0;
 background-color: grey;
 background-image: url("../Images/20998787.jpg");
 background-size: cover;
 background-attachment: fixed;
 background-position: 80%;
 z-index: 9999;
}

header nav {
 margin: 7px 0;
}

header h1 {
 font-weight: bold;
 font-size: 36px;
 color: white;
 margin: 0;
 text-shadow: 0 0 20px black;
}

header h1 a {
 text-decoration: none;
}

header h1 a:visited {
 text-decoration: none; color: white; 
}

header nav ul {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
 align-items: center;
 list-style: none;
}

header nav ul li a {
 padding: 10px 15px;
 font-weight: lighter;
 font-size: 1.55vw;
 color: white;
 list-style: none;
 text-shadow: 0 0 20px black;
 text-decoration: none;
}

header nav ul li a:visited {
 text-decoration: none; color: white
}

header nav ul li a:hover {
 background-color: grey;
}
/* END HEADER STYLES */

/* START FOOTER STYLES */
footer {
 padding: 40px 35px;
 background: grey;
 display: flex;
 justify-content: space-between;
 flex-wrap: wrap;
 width: 100%;
}

footer h4 {
 color: black;
 font-size: 30px;
 margin: 0;
}
/* END FOOTER STYLES */


/* HERO STYLES START */
.hero {
 background-image: url('../Images/20998787.jpg');
 background-size: cover;
 display: flex;
 justify-content: center;
 flex-wrap: wrap;
 align-items: flex-start;
 background-attachment: fixed;
 background-position: 80%;
 grid-template-columns: 50% 50%;
}

.section-title h2 {
 background-color: grey;
 color: white;
 margin: 4%;
 width: 25%;
 justify-content: space-between;
 padding: 15px;
 font-size: 3vw;
 text-align: center;
 border-radius: 10px;
}

.hero-about img {
 height: 70%;
 width: 20%;
 border: 2px solid black;
 border-radius: 100px;
 margin: 25px;
}

.hero-about h2 {
text-align: center;
}

.hero-about p {
 background-color: white;
 justify-content: flex-end;
}

/* START MY WORKS STYLES */
.section-title {
 background-image: url('../Images/20998787.jpg');
 background-size: cover;
 display: flex;
 justify-content: center;
 flex-wrap: wrap;
 align-items: flex-start;
 background-attachment: fixed;
 background-position: 80%;
}

.work {
 justify-content: space-around;
}

.work h2 {
 color: black;
 margin: 5px;
 border: 2px solid black;
 font-size: 24px;
 background-color: white;
 justify-content: space-around;

}

.work img {
 width: 50%;
 height: 50%;
 border-radius: 20px;
 border: 3px solid black;
}

.contact {
 justify-content: space-around;
}
.contact img {
 width: 20%;
 height: 20%;
}

.contact h2 {
 width: 100%;
}