* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
 font-family: 'Vogamedium';
 src: url('../Fonts/Voga-Medium.otf');
 font-weight: normal;
 font-style: normal;
 grid-template-columns: 50% 50%;
}








/* START HEADER STYLES */
header {
 padding: 20px 35px;
 display: flex;
 justify-content: space-between;
 flex-wrap: wrap;
 position: -webkit-sticky;
 position: sticky;
 top: 0;
 background-color: grey;
 background-image: url("../Images/20998787.jpg");
 background-size: cover;
 background-attachment: fixed;
 background-position: 80%;
 background-position-y: -10%;
 z-index: 9999;
}

header nav {
 margin: 7px 0;
}

header h1 {
 font-weight: normal;
 font-size: 7vw;
 color: white;
 margin: 0;
  text-shadow: -1.5px 1.5px 0 #80576b,
  1.5px 1.5px 0 #80576b,
 1.5px -1.5px 0 #80576b,
-1.5px -1.5px 0 #80576b;
 margin-left: 5%;
 border-top: 1px solid black;
 border-bottom: 1px solid black;
 padding-top: 8px;
 font-style: oblique;
 padding-right: 10px;
 padding-left: 10px;
}

header h1 a {
 text-decoration: none;
 color: white;
}

header h1 a:visited {
 text-decoration: none; color: white; 
}

header nav ul {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
 align-items: center;
 list-style: none;
}

header nav ul li a {
 padding: 10px 15px;
 font-weight: lighter;
 font-size: 3vw;
 color: white;
 list-style: none;
 text-shadow: -0.75px 0.75px 0 #80576b,
 0.75px 0.75px 0 #80576b,
0.75px -0.75px 0 #80576b,
-0.75px -0.75px 0 #80576b;
 text-decoration: none;
 border-top: 1px solid black;
 border-bottom: 1px solid black;;
}

header nav ul li a:visited {
 text-decoration: none; color: white
}

header nav ul li a:hover {
 background-color: #efeded;
}
/* END HEADER STYLES */












/* START FOOTER STYLES */
footer {
 background: #80576b;
 display: flex;
 justify-content: flex-start;
 flex-wrap: wrap;
 width: 100%;
 padding: 20px 15px;
}

footer h4 {
 color: white;
 font-size: 30px;
 margin: 0;
 text-shadow: -0.5px 0.5px 0 black,
 0.5px 0.5px 0 black,
0.5px -0.5px 0 black,
-0.5px -0.5px 0 black;
}
/* END FOOTER STYLES */











/* BACKGROUND STYLES START */
section {
 background-image: url('../Images/20998787.jpg');
 background-size: cover;
 display: flex;
 justify-content: center;
 background-attachment: fixed;
 background-position: 80%;
 background-position-y: -10%;
}
/* BACKGROUND STYLES END */










/* START SECTION HEADER STYLES */
.title {
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  padding: 1% 0 1% 0;
  width: 100%;
  background-color: white;
  justify-content: center;
  text-align: center;
  }
  
  .title h2 {
    color: white;
    margin: 3px;
    border: none;
    font-size: 5vw;
    background-color: white;
    height: 10%;
    padding: 0;
    text-shadow: -1px 1px 0 #80576b,
   1px 1px 0 #80576b,
  1px -1px 0 #80576b,
  -1px -1px 0 #80576b;
  }
/* END SECTION HEADER STYLES */










/* START ABOUT ME STYLES */
.about {
 display: flex;
 flex-wrap: wrap;
 max-width: 100%;
 padding-top: 50%;
}

.bio {
 display: flex;
 flex-wrap: wrap;
 margin: 0 auto;
 justify-content: space-between;
 flex-direction: row;
 width: 100%
}
.bio img {
 max-width: 50%;
 max-height: 60%;
 border: 2px solid black;
 border-radius: 50px;
 margin: auto;
 box-shadow: 0 0 30px black;
}

.bio p {
 background-color: white;
 max-width: 50%;
 margin: auto;
 padding: 1vw;
 border: 2px solid black;
 box-shadow: 0 0 30px;
 border-radius: 15px;
 line-height: 1.5;
}
/* END ABOUT ME STYLES */


/* START MY WORKS STYLES */
.my-works {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  padding-top: 25%;
  padding-bottom: 10%;
  justify-content: center;
 }

.cards {
 display: flex;
 width: 100%;
 flex-direction: column;
 align-items: center;
}
                /* START CARD 1 STYLES */
.card1 {
  position: relative;
  width: 70%;
  max-width: 70%;
  justify-content: center;
  margin-top: 10%;
  border: 2px solid black;
  box-shadow: 0 0 20px black;
}

.card1 a img {
  width:100%;
  height: 100%;
  position: relative;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -webkit-transition: all 1s ease;
}

.card1 img:hover {
  filter: grayscale(0%)
  filter: gray;
  -webkit-filter: grayscale(0%);
  filter: none;
  transition: 1s ease;
}
                /* END CARD 1 STYLES */


                /* CARD TEXT BOX STYLES */
.card-text {
  position: absolute;
  bottom: 20%;
  padding: 3%;
  background-color: #80576b;
  width: fit-content;
  border: 5px solid white;
  color: white;
}

.card-text h4 {
  font-size: 36px;
  text-shadow: -0.5px 0.5px 0 black,
 0.5px 0.5px 0 black,
0.5px -0.5px 0 black,
-0.5px -0.5px 0 black;
}

.card-text h5 {
  font-size: 20px;
  font-style: italic;
  text-shadow: -0.5px 0.5px 0 black,
 0.5px 0.5px 0 black,
0.5px -0.5px 0 black,
-0.5px -0.5px 0 black;
}
                /* CARD TEXT BOX STYLES */




                /* START CARD 2 AND 3 STYLES */
.cardn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
  max-width: 70%;
  width: 90%;
  height: fit-content;
  margin-top: 3%;
  
}

.card2 {
  position: relative;
  width: 50%;
  height: 300px;
  margin-right: 1%;
  border: 2px solid black;
  box-shadow: 0 0 20px black;
}

.card2 a img {
  display: flex;
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -webkit-transition: all 1s ease;
}


.card2 img:hover {
  filter: grayscale(0%)
  filter: gray;
  -webkit-filter: grayscale(0%);
  filter: none;
  transition: 1s ease;
}

.card3 {
  position: relative;
  width: 50%;
  height: 300px;
  margin-left: 1%;
  border: 2px solid black;
  box-shadow: 0 0 20px black;
}
.card3 a img {
  display: flex;
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -webkit-transition: all 1s ease;
}

.card3 img:hover {
  filter: grayscale(0%)
  filter: gray;
  -webkit-filter: grayscale(0%);
  filter: none;
  transition: 1s ease;
}
                /* END CARD 2 AND 3 STYLES */

/* END MY WORKS SECTION */










/* START CONTACT ME STYLES */
.contact {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  justify-content: center;
 }

.icons {
  display: flex;
  width: 100%;
 flex-direction: row;
 justify-content: space-evenly;
}
.instagram {
  width: 20%;
}

.instagram img {
 width: 100%;
}

.linkedin {
  width: 20%;
}
.linkedin img {
 width: 100%;
}


.info {
 border: 5px solid black;
 margin: 2%;
 padding: 1vw;
 background-color: white;
 align-items: center;
 height:fit-content
}

.info > h3 {
 font-size: 1.5vw;
}

.info > p {
 font-size: 1.5vw;
}
/* END CONTACT ME SECTION STYLES */













/* MEDIA QUERIES FOR SMALLER DEVICES */
/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  header {
    width: 100%;
    justify-content: center;
    position: sticky;
    flex-direction: column;
    border: none;
    padding: 0;
    margin: 0;
    background-color: #80576b;
    
  }

  header h1 {
    width: 100%;
    text-align: center;
    font-size: 30px;
    border: none;
    padding: none;
    background-color: #80576b;
  }

  header nav ul {
    display: flex;
    margin-top: 10px;
    width: 100%;
    flex-direction: row;
    align-items: center;
   
  }


  header nav ul li a {
    font-size: 15px;
    border: none;
  }



.bio {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.bio img {
  margin-top: 2%;
  margin-bottom: 2%;
  box-shadow: none;
  border-radius: 5px;
}

.bio p {
  font-size: 11px;
  max-width: 100%;
  border-radius: 5px;
  box-shadow: none;
}


.card-text {
  width: fit-content;
  font-size: 10px;
}

.card-text h4 {
  font-size: 12px;
}

.card-text h5 {
  font-size: 8px;
}

.card1 {
  box-shadow: none;
}

.card1 a img, .card2 a img, .card3 a img{
  filter: none;
}

.card2 {
  height: 125px;
  box-shadow: none;
}

.card3 {
  height: 125px;
  box-shadow: none;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%
  
}

.instagram {
  margin: none;
}

.linkedin {
  height: 0;
  width: 0;
}

.linkedin a {
  margin: none;
  height: 20px;
}
.instagram a img {
  width: 50px;
  height: 50px;
  margin: none;
  float: top;
}

.linkedin a img {
  width: 40px;
  height: 40px;
  margin: none;
  float: top;
}

.info {
  margin: none;
}

footer {
  padding: 8px;
}

footer h4 {
  font-size: 10px;
}


/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
  section {
    padding: 30px 15px;
  }

  .step h3 {
    flex: 1 100%;
    text-align: center;
  }

  .step-info {
    flex: 2 100%;
    text-align: center;
    justify-content: center;
  }

  .step-img {
    flex: 0 32%;
    margin-right: 0;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .step-text {
    flex: 100%;  
  }

  .trainer-bio h3, .trainer-bio h4 {
    display: block;
  }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
  .hero-form button {
    width: 100%;
  }

  .section-title {
    width: 95%;
  }

  .intro p {
    width: 100%;
  }

  .trainer {
    flex: 0 100%;
  }

  .contact-info {
    text-align: center;
  }

  .contact-info > * {
    flex: 0 100%;
  }

  .contact-form {
    order: 3;
  }
}